<%- include('./include/header.ejs')%>
<%- include('./include/navigation.ejs')%>

<div class="row">
    <div class="col-sm-6">
        <h1>Welcome <%=user.username%></h1>
    </div>
</div>

<%- include('./include/footer.ejs')%>